body {
    background-color: rgb(235, 166, 40);
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 900px;
}

h1 {
    font-size: large;
    font-style: normal bold;
    color: rgb(13, 119, 119);
}